*,
*::before,
*::after {
  font-family: "JetBrains Mono", monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  border: #3f3f3f solid 5px;
  height: 100vh;
  padding: 100px;
  background-image: linear-gradient(
    90deg,
    hsl(267deg 100% 7%) 0%,
    hsl(322deg 59% 13%) 14%,
    hsl(342deg 64% 20%) 23%,
    hsl(351deg 67% 28%) 29%,
    hsl(356deg 69% 36%) 35%,
    hsl(359deg 71% 44%) 40%,
    hsl(5deg 69% 53%) 44%,
    hsl(8deg 74% 62%) 49%,
    hsl(10deg 76% 72%) 53%,
    hsl(12deg 74% 80%) 56%,
    hsl(17deg 54% 88%) 60%,
    hsl(174deg 100% 96%) 63%,
    hsl(221deg 59% 88%) 66%,
    hsl(235deg 54% 80%) 70%,
    hsl(239deg 51% 72%) 73%,
    hsl(240deg 51% 63%) 76%,
    hsl(236deg 51% 53%) 79%,
    hsl(232deg 60% 42%) 82%,
    hsl(233deg 56% 35%) 85%,
    hsl(235deg 51% 27%) 89%,
    hsl(237deg 46% 20%) 92%,
    hsl(238deg 40% 12%) 96%,
    hsl(236deg 70% 4%) 100%
  );
}
@media (max-width: 675px) {
  main {
    padding: 50px;
  }
}

.conteiner {
  background-color: rgb(0, 0, 0);
  height: 690px;
  width: 500px;
  max-width: 450px;
  margin: auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.calculator-grid {
  width: 100%;
  /* max-height: 750px; */
  height: 690px;
  display: grid;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.screen {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1px;
  text-align: right;
  font-size: 20px;
  /*va de la primer a la ultima columna*/
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
  background-color: rgb(20, 38, 21);
  color: rgb(150, 49, 12);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.screen .previous {
  font-size: 1.5rem;
}

.screen .current {
  font-size: 2rem;
}

.calculator-grid > button {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  align-items: center;
  appearance: none;
  border-radius: 5px;
  padding-left: 16px;
  padding-right: 16px;
  /* border-width: 1px; */
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  background-color: #afa7a3;
  color: #3f3f3f;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 2rem;
}

.calculator-grid > button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

@media (max-width: 675px) {
  .conteiner {
    height: 550px;
    width: 350px;
    max-width: 450px;
  }

  .calculator-grid {
    width: 100%;
    height: 100%;
    column-gap: 0.2rem;
    row-gap: 0.2rem;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
  }

  .calculator-grid > button {
    width: 80px;
    height: 80px;
    max-width: 100px;
    max-height: 100px;
  }

  main {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
